@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 30px auto 30px auto;
	// 230px
    width: 550px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.errors li {
	color: red;
}

.progress .bar-none {
	@include gradient-vertical(#e6e6e6, #d1d1d1);
}

.progress .bar-watched {
	@include gradient-vertical(#5bc0de, #339bb9);
}

.progress .bar-collected {
	@include gradient-vertical(#62c462, #57a957);
}

.episode.bar {
	cursor: hand;
	cursor: pointer;
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.hero-unit {
		width: 430px;

		h1 {
			font-size: 50px;
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	html, body {
	  margin: 10px;
	}

	.hero-unit {
		margin: 10px auto 10px auto;
		width: 230px;
	}
}
