<div class="row admin-area">
	<h2>Admin Area</h2>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label">Trakt User</label>
			<div class="controls">
				<input ng-model="settings.traktUsername" type="text" placeholder="User">
				<input ng-model="settings.traktPassword" type="password" placeholder="Password">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Trakt API Key</label>
			<div class="controls">
				<input ng-model="settings.traktApiKey" type="text" placeholder="Key">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button class="btn" data-ng-click="save()">Save</button>
			</div>
		</div>
	</form>
</div>

