<a href="#/admin">Admin Area</a>
<div class="row errors">
	<ul>
		<li ng-repeat="error in errors">{{error}}</li>
	</ul>
</div>
<div class="row">
	<div class="span5">
		Watched:
		<div class="btn-group">
			<button type="button" class="btn" ng-model="showFilterState.completelyWatched" btn-checkbox>Complete</button>
			<button type="button" class="btn" ng-model="showFilterState.watched" btn-checkbox>Started</button>
			<button type="button" class="btn" ng-model="showFilterState.notWatched" btn-checkbox>None</button>
		</div>
		<br/>
		Collected:
		<div class="btn-group">
			<button type="button" class="btn" ng-model="showFilterState.completelyCollected" btn-checkbox>Complete</button>
			<button type="button" class="btn" ng-model="showFilterState.continuous" btn-checkbox>Continous</button>
			<button type="button" class="btn" ng-model="showFilterState.collected" btn-checkbox>Started</button>
			<button type="button" class="btn" ng-model="showFilterState.notCollected" btn-checkbox>None</button>
		</div>
		<br/>
		<button type="button" class="btn" ng-model="showFilterState.hideEmpty" btn-checkbox>Hide Empty</button>
	</div>
	<div class="span7">
		<div>
			Filter:
			<input class="search-query span3" type="text" ng-model="filterText"/>
		</div>
		<div>
			Order by:
			<select ng-model="orderShows" ng-options="o.value as o.label for o in orderByOptions"></select>
			<button type="button" class="btn" ng-model="orderReverse" btn-checkbox>Reverse</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<button type="button" class="btn" ng-click="reloadData()">Reload Watched/Collected Data</button>
		<button type="button" class="btn" ng-click="reloadSeasonsData()">Reload Seasons Data</button>
	</div>
</div>
<div class="row shows-info">
	<div class="offset5 span12">
		You have <span class="badge">{{shows.length}}</span> shows :)
	</div>
</div>

<div class="row well" ng-repeat="show in shows | filterShows:showFilterState | filter:{hidden:false} | filter:filterText | orderBy:orderShows:orderReverse">
	<h4><a target="_blank" href="{{ show.traktData.url }}">{{show.traktData.title}}</a></h4>
	<div class="btn-group pull-right">
		<button type="button" class="btn btn-mini" ng-click="toggleShow(show)">Toggle</button>
		<button type="button" class="btn btn-mini" ng-click="hideShow(show)">Hide</button>
	</div>

	<div collapse="show.collapsed">
		<span ng-show="show.traktData.completelyCollectedEpisodeCount">
			Continuously collected episode count:
			<span class="badge badge-success">
				{{ show.traktData.completelyCollectedEpisodeCount }}
			</span>
			in
			<ng-pluralize count="show.traktData.completelyCollectedSeasons.length"
						  when="{'1': 'one season',
								 'other': '{} seasons'}">
			</ng-pluralize>
		</span>
		</br>
		Seasons:
		<div ng-repeat="season in show.traktData.seasons">
			<a ng-href="{{linkToTraktSeasonPage(show.traktData.url, season.number)}}" target="_blank">#{{season.number}}</a>
			Episodes: {{ season.episodes.length }}

			<div class="progress">
				<div
					ng-repeat="episode in season.episodes"
					class="bar bar-{{episode}} episode"
					ng-click="openEpisodeTraktPage(show.traktData.url, season.number, $index + 1)"
					style="width: {{100 / season.episodes.length}}%;"
					title="Episode {{$index + 1}} of season {{season.number}}: {{episode}}">
			</div>
		</div>
	</div>
</div>
