<a href="#/admin">Admin Area</a>
<div class="row errors">
	<ul>
		<li ng-repeat="error in errors">{{error}}</li>
	</ul>
</div>
<div class="row show" ng-repeat="show in shows">
	<h4><a target="_blank" href="{{ show.url }}">{{show.title}}</a></h4>
	Seasons:
	<div ng-repeat="season in show.seasons">
		<a ng-href="{{linkToTraktSeasonPage(show.url, season.number)}}" target="_blank">#{{season.number}}</a>

		<div class="progress">
			<div
				ng-repeat="episode in season.episodes"
				class="bar bar-{{episode}} episode"
				ng-click="openEpisodeTraktPage(show.url, season.number, $index + 1)"
				style="width: {{100 / season.episodes.length}}%;"
				title="Episode {{$index + 1}} of season {{season.number}}: {{episode}}">
		</div>
	</div>
</div>
